Repository fullstacktf/ControlHorarios-Backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @raulanatol, @DanielRamosAcosta, @yodralopez, @manolors

🐛Fixed build and push image context
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Added cors policy
  backend/api/routes/routes.go
Owners: @manolors

♻️ Refactor create company
  backend/api/controllers/companyController.go
  backend/api/controllers/dto/createCompanyRequestDto.go
  backend/api/domain/companyServices.go
  backend/api/infrastructure/companyRepository.go
  backend/api/infrastructure/userRepository.go
  backend/go.mod
  backend/go.sum
  backend/tests/company_test.go
Owners: @manolors, @AiranSchez, @arianezf, @jaimerperez, @Pandacore

♻️ Refactor get company
  backend/api/controllers/companyController.go
  backend/api/domain/companyServices.go
  backend/api/infrastructure/companyRepository.go
Owners: @manolors

♻️ Refactor create employee
  backend/api/controllers/dto/createEmployeeRequestDto.go
  backend/api/controllers/employeeController.go
  backend/api/domain/employeeServices.go
  backend/api/infrastructure/employeeRepository.go
  backend/tests/employee_test.go
Owners: @manolors

♻️ Delete unused structs
  backend/api/controllers/usersController.go
  backend/api/domain/userServices.go
  backend/api/models/company.go
  backend/api/models/employee.go
Owners: @manolors

♻️ Refactor create holidays
  backend/api/controllers/companyController.go
  backend/api/controllers/dto/createHolidaysRequestDto.go
  backend/api/domain/companyServices.go
  backend/api/domain/employeeServices.go
  backend/api/infrastructure/holidaysRepository.go
  backend/api/models/holidays.go
  backend/tests/company_test.go
Owners: @manolors

♻️ Refactor create section
  backend/api/controllers/companyController.go
  backend/api/controllers/dto/createSectionRequestDto.go
  backend/api/domain/companyServices.go
  backend/api/infrastructure/sectionRepository.go
  backend/tests/company_test.go
Owners: @manolors

♻️ Refactor checkin
  backend/api/controllers/dto/checkInRequestDto.go
  backend/api/controllers/employeeController.go
  backend/api/domain/employeeServices.go
  backend/api/infrastructure/recordsRepository.go
  backend/api/models/sections.go
  backend/tests/employee_test.go
Owners: @manolors

♻️ Refactor checkout
  backend/api/controllers/employeeController.go
  backend/api/domain/employeeServices.go
  backend/api/infrastructure/recordsRepository.go
  backend/api/models/records.go
  backend/tests/employee_test.go
Owners: @manolors

♻️ Refactor update password
  backend/api/controllers/dto/updateEmployeePasswordDto.go
  backend/api/controllers/employeeController.go
  backend/api/controllers/usersController.go
  backend/api/domain/employeeServices.go
  backend/api/domain/userServices.go
  backend/api/infrastructure/userRepository.go
  backend/api/routes/routes.go
  backend/tests/employee_test.go
  backend/tests/user_test.go
Owners: @manolors

♻️ Refactor summary
  backend/api/controllers/employeeController.go
  backend/api/domain/employeeServices.go
  backend/api/domain/userServices.go
  backend/api/infrastructure/recordsRepository.go
  backend/api/infrastructure/userRepository.go
  backend/tests/employee_test.go
Owners: @manolors

♻️ Refactor cors policy
  backend/api/routes/routes.go
Owners: @manolors

♻️ Refactor create company
  backend/api/controllers/companyController.go
  backend/api/domain/companyServices.go
  backend/api/infrastructure/companyRepository.go
Owners: @manolors

🚑 Fixed createEmployeeDto lasname
  backend/api/controllers/dto/createEmployeeRequestDto.go
  backend/api/controllers/employeeController.go
  backend/api/domain/employeeServices.go
  backend/tests/employee_test.go
Owners: @manolors

🚑 Fixed queries
  backend/api/domain/companyServices.go
Owners: @manolors

🚑 We are under attack
  backend/api/domain/companyServices.go
  backend/api/infrastructure/employeeRepository.go
  backend/api/infrastructure/holidaysRepository.go
  backend/api/infrastructure/projectRepository.go
  backend/api/infrastructure/sectionRepository.go
  backend/api/infrastructure/userRepository.go
Owners: @manolors

🚑 We are under attack
  backend/api/infrastructure/userRepository.go
Owners: @manolors

Refactor GetEmployeesByCompanyID
  .idea/ControlHorarios-Backend.iml
  .idea/modules.xml
  .idea/vcs.xml
  backend/.idea/backend.iml
  backend/.idea/modules.xml
  backend/.idea/vcs.xml
  backend/.idea/workspace.xml
  backend/api/domain/employeeServices.go
  backend/api/infrastructure/employeeRepository.go
  backend/api/models/company.go
  backend/api/models/employee.go
  backend/api/models/users.go
  backend/main.go
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @manolors

Refactor Gorm relations
  backend/.idea/workspace.xml
  backend/api/domain/employeeServices.go
  backend/api/infrastructure/companyRepository.go
  backend/api/infrastructure/holidaysRepository.go
  backend/tests/employee_test.go
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @manolors

Refactor Gorm relations
  backend/.idea/backend.iml
  backend/.idea/modules.xml
  backend/.idea/vcs.xml
  backend/.idea/workspace.xml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Refactor Gorm relations
  .idea/ControlHorarios-Backend.iml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Fixed router DB host
  backend/main.go
Owners: @manolors

:zap: Change database
  backend/api/controllers/companyController.go
  backend/api/controllers/dto/checkInRequestDto.go
  backend/api/controllers/dto/updateEmployeeStatusDto.go
  backend/api/domain/companyServices.go
  backend/api/infrastructure/employeeRepository.go
  backend/api/routes/routes.go
  backend/main.go
  database/ControlHorarios.sql
Owners: @manolors, @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:zap: Change database
  backend/main.go
Owners: @manolors

:ambulance:
  backend/main.go
Owners: @manolors

:ambulance:
  database/ControlHorarios.sql
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:ambulance:
  database/ControlHorarios.sql
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:ambulance:
  backend/api/infrastructure/employeeRepository.go
  backend/main.go
  database/ControlHorarios.sql
Owners: @manolors, @AiranSchez, @arianezf, @jaimerperez, @Pandacore

✨ Added Status to User struc
  backend/api/domain/companyServices.go
  backend/api/domain/employeeServices.go
  backend/api/models/users.go
  backend/main.go
Owners: @manolors

✅ New test for UpdateEmployeeStatus
  backend/tests/company_test.go
Owners: @manolors

✅ New test for UpdateEmployeeStatus
  backend/main.go
Owners: @manolors

✨ Refactor backend Dockerfile
  .github/workflows/CD.yml
  backend/Dockerfile
  backend/api/routes/routes.go
  backend/tests/company_test.go
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @manolors

✨ Refactor backend Dockerfile
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Refactor UpdateEmployeeStatus
  backend/api/controllers/companyController.go
  backend/api/controllers/dto/updateEmployeeStatusDto.go
  backend/api/domain/companyServices.go
  backend/api/infrastructure/employeeRepository.go
  backend/api/routes/routes.go
  backend/tests/company_test.go
Owners: @manolors

🐛 Inactive users now cant login
  backend/api/controllers/usersController.go
  backend/api/domain/userServices.go
  backend/tests/user_test.go
Owners: @manolors

✨ GetEmployee now return user and company indo
  backend/api/infrastructure/employeeRepository.go
Owners: @manolors

✨ Refactor userApi and testUtils
  backend/api/domain/userServices.go
  backend/tests/companyApi_test.go
  backend/tests/employeeApi_test.go
  backend/tests/setup_test.go
  backend/tests/testUtils.go
  backend/tests/userApi_test.go
Owners: @manolors

✨ Refactor userApi and testUtils
  backend/api/domain/userServices.go
Owners: @manolors

✨ Refactor employeeApi_tests
  backend/tests/companyApi_test.go
  backend/tests/testUtils.go
  backend/tests/userApi_test.go
Owners: @manolors

.github/CODEOWNERS:

* @AiranSchez @arianezf @jaimerperez @Pandacore
*.ts @raulanatol
*.js @raulanatol
*test* @raulanatol @DanielRamosAcosta @yodralopez
*.go @manolors
