Repository fullstacktf/ControlHorarios-Backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @raulanatol, @DanielRamosAcosta, @yodralopez, @manolors

🚧 Added employee login endpoint
  backend/api/controllers/employeeController.go
  backend/api/domain/employeeServices.go
  backend/api/infrastructure/userRepository.go
Owners: @manolors

🚧 Added employee login endpoint
  backend/api/controllers/employeeController.go
  backend/api/domain/employeeServices.go
Owners: @manolors

🚧 Refactor employeeLogin to userLogin
  backend/api/controllers/dto/userLoginDto.go
  backend/api/controllers/employeeController.go
  backend/api/controllers/usersController.go
  backend/api/domain/employeeServices.go
  backend/api/domain/userServices.go
  backend/api/routes/routes.go
  backend/tests/employee_test.go
Owners: @manolors

:sparkles: Created new endpoints
  backend/api/controllers/companyController.go
  backend/api/controllers/employeeController.go
  backend/api/domain/companyServices.go
  backend/api/domain/employeeServices.go
  backend/api/models/holidays.go
  backend/api/models/records.go
  backend/api/models/sections.go
  backend/api/routes/routes.go
Owners: @manolors

vamoh a merjear
  backend/api/routes/routes.go
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/tests/company_test.go
Owners: @manolors, @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:ambulance: refactor routes
  backend/api/controllers/companyController.go
  backend/api/domain/companyServices.go
  backend/api/domain/employeeServices.go
  backend/api/routes/routes.go
  backend/tests/employee_test.go
Owners: @manolors

✅ Added before/after
  backend/tests/employee_test.go
  backend/tests/setup_test.go
Owners: @manolors

🚧 Added docker workflow
  backend/api/controllers/companyController.go
  backend/api/domain/companyServices.go
  backend/api/routes/routes.go
  backend/tests/company_test.go
Owners: @manolors

:white_check_mark: Test for /api/employee/ - Create a employee
  backend/api/models/employee.go
  backend/api/models/users.go
  backend/tests/employee_test.go
  backend/tests/setup_test.go
Owners: @manolors

🚧 Refactor UserLogin
  backend/api/controllers/dto/loginResponseDto.go
  backend/api/controllers/usersController.go
  backend/api/domain/userServices.go
  backend/api/infrastructure/companyRepository.go
  backend/api/infrastructure/employeeRepository.go
  backend/tests/employee_test.go
  backend/tests/setup_test.go
  backend/tests/user_test.go
Owners: @manolors

🚧 Implemented getEmployees endpoint
  backend/api/controllers/companyController.go
  backend/api/controllers/employeeController.go
  backend/api/controllers/usersController.go
  backend/api/domain/companyServices.go
  backend/api/domain/employeeServices.go
  backend/api/routes/routes.go
  backend/tests/company_test.go
Owners: @manolors

🚧 Implemented remain get endpoints for company
  backend/api/controllers/companyController.go
  backend/api/controllers/dto/projectRequestDto.go
  backend/api/controllers/dto/userLoginRequestDto.go
  backend/api/domain/companyServices.go
  backend/api/domain/employeeServices.go
  backend/api/routes/routes.go
  backend/tests/company_test.go
Owners: @manolors

:white_check_mark: Check some tests
  backend/api/controllers/employeeController.go
  backend/api/domain/employeeServices.go
  backend/api/models/records.go
  backend/api/routes/routes.go
Owners: @manolors

Refactor routes
  backend/api/routes/routes.go
  backend/tests/employee_test.go
Owners: @manolors

:white_check_mark: Created tests for endpoint (companies and employees)
  backend/api/routes/routes.go
  backend/tests/company_test.go
  backend/tests/employee_test.go
  backend/tests/setup_test.go
Owners: @manolors

Added remain endpoints
  backend/api/controllers/companyController.go
  backend/api/controllers/dto/updateHolidaysRequestDto.go
  backend/api/controllers/dto/updateSectionsRequestDto.go
  backend/api/controllers/employeeController.go
  backend/api/domain/companyServices.go
  backend/api/domain/employeeServices.go
  backend/api/infrastructure/companyRepository.go
  backend/api/infrastructure/employeeRepository.go
  backend/api/infrastructure/holidaysRepository.go
  backend/api/infrastructure/projectRepository.go
  backend/api/infrastructure/sectionRepository.go
  backend/api/models/holidays.go
  backend/api/routes/routes.go
  backend/tests/company_test.go
  backend/tests/employee_test.go
Owners: @manolors

Fixed json request
  backend/api/controllers/dto/updateHolidaysRequestDto.go
Owners: @manolors

Refactor docker-compose network
  backend/api/infrastructure/holidaysRepository.go
  backend/api/infrastructure/mysql.go
  backend/api/routes/routes.go
  backend/main.go
  backend/tests/company_test.go
  backend/tests/employee_test.go
  backend/tests/user_test.go
Owners: @manolors

Refactor docker-compose network
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Test CD
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Test CD
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Test CD
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Test CD
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Test CD
  .github/workflows/CD.yml
  backend/Dockerfile
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Test CD
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Test CD
  backend/api/infrastructure/userRepository.go
Owners: @manolors

Test CD
  backend/Dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Test CD
  .github/workflows/CD.yml
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Test CD
  backend/api/infrastructure/employeeRepository.go
Owners: @manolors

Test CD
  .github/workflows/CD.yml
  backend/Dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Test CD
  .github/workflows/CD.yml
  backend/Dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Test CD
  backend/Dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Test CD
  backend/api/routes/routes.go
Owners: @manolors

Test CD
  .github/workflows/CD.yml
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Test CD
  backend/main.go
Owners: @manolors

Test CD
  main.go
Owners: @manolors

Test CD
  backend/Dockerfile
  main.go
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @manolors

Test CD
  backend/api/routes/routes.go
Owners: @manolors

Test CD
  .github/workflows/CD.yml
  backend/Dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Test CD
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

.github/CODEOWNERS:

* @AiranSchez @arianezf @jaimerperez @Pandacore
*.ts @raulanatol
*.js @raulanatol
*test* @raulanatol @DanielRamosAcosta @yodralopez
*.go @manolors
