Repository fullstacktf/ControlHorarios-Backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @raulanatol, @DanielRamosAcosta, @yodralopez, @manolors

:building_construction: Changed project structure
  backend/.env
  backend/api/config/config.go
  backend/api/constants/constants.go
  backend/api/models/usersservices.go
  backend/api/storage/mysql.go
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/routes/routes.go
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @manolors

:building_construction: Changed project structure
  backend/routes/routes.go
Owners: @manolors

:building_construction: Changed project structure -.-
  backend/api/routes/routes.go
Owners: @manolors

:building_construction: Changed project structure and fixed routes
  backend/api/infrastructure/usersrepository.go
  backend/api/routes/routes.go
  backend/main.go
Owners: @manolors

:memo: Update database schema
  README.md
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:card_file_box: Adding database scripts to droplet
  .github/workflows/CD.yml
  backend/dockerfile
  database/ControlHorarios.sql
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:card_file_box: adding and creating databases
  database/Dockerfile
  database/script.sh
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:card_file_box: adding and creating databases
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:card_file_box: adding and creating databases
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:card_file_box: adding and creating databases
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:card_file_box: adding and creating databases
  database/Dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:card_file_box: adding and creating databases
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:card_file_box: adding and creating databases
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:card_file_box: adding and creating databases
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Update README.md
  README.md
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:memo: Adding some information abut endpoints
  README.md
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Add files via upload
  docs/images/bbdd.png
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Update README.md
  README.md
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:heavy_plus_sign: Adding Go dependencies to backend
  backend/dockerfile
  backend/go.sum
  backend/main.go
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @manolors

:heavy_plus_sign: Adding Go dependencies to backend
  backend/dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:heavy_plus_sign: Adding Go dependencies to backend
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:heavy_plus_sign: Adding Go dependencies to backend
  backend/api/controllers/company.go
  backend/api/controllers/employee.go
  backend/dockerfile
Owners: @manolors, @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:heavy_plus_sign: Adding Go dependencies to backend
  backend/dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:heavy_plus_sign: Adding Go dependencies to backend
  backend/dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:heavy_plus_sign: Adding Go dependencies to backend
  backend/dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:heavy_plus_sign: Adding Go dependencies to backend
  backend/dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:heavy_plus_sign: Adding Go dependencies to backend
  backend/dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:heavy_plus_sign: Adding Go dependencies to backend
  backend/dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:heavy_plus_sign: Adding Go dependencies to backend
  backend/dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:heavy_plus_sign: Adding Go dependencies to backend
  .github/workflows/CD.yml
  backend/Dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:heavy_plus_sign: Adding Go dependencies to backend
  backend/Dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:heavy_plus_sign: Adding Go dependencies to backend
  backend/Dockerfile
  backend/main.go
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @manolors

:heavy_plus_sign: Adding Go dependencies to backend
  .github/workflows/CD.yml
  backend/Dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:heavy_plus_sign: Adding Go dependencies to backend
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:heavy_plus_sign: Adding Go dependencies to backend
  .github/workflows/CD.yml
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:heavy_plus_sign: Adding Go dependencies to backend
  backend/Dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:heavy_plus_sign: Adding Go dependencies to backend
  backend/Dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Test CD go dependencies
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Test CD go dependencies
  .github/workflows/CD.yml
  database/Dockerfile
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Test CD go dependencies
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

.github/CODEOWNERS:

* @AiranSchez @arianezf @jaimerperez @Pandacore
*.ts @raulanatol
*.js @raulanatol
*test* @raulanatol @DanielRamosAcosta @yodralopez
*.go @manolors
