Repository fullstacktf/ControlHorarios-Backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @raulanatol, @DanielRamosAcosta, @yodralopez, @manolors

Update README.md
  README.md
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:rocket: Added Dockerfile and Dockercompose
  .gitignore
  backend/.dockerignore
  backend/node-12.19.0.dockerfile
  backend/package.json
  backend/src/desarrollo.png
  backend/src/index.js
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @raulanatol

Update README.md
  README.md
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Rename node-12.19.0.dockerfile to dockerfile
  backend/dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Changes in docker-compose
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:rocket: deploying back and front
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

Updated README.md Added provisional endpoints and database schema
  README.md
  docs/images/bbdd.PNG
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:construction:Added workflow
  .github/workflows/deploy.yml
  run.sh
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:construction:Added workflow
  .github/workflows/deploy.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:construction:Added workflow
  .github/workflows/deploy.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:construction:Added workflow
  .github/workflows/deploy.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:construction:Added workflow
  .github/workflows/deploy.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:construction:Added workflow
  .github/workflows/deploy.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:construction:Added workflow and changes in dockerfile
  .github/workflows/deploy.yml
  backend/dockerfile
  backend/package.json
  backend/src/index.js
  backend/src/main.go
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @raulanatol, @manolors

:construction:Added workflow
  .github/workflows/deploy.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:construction:Added workflow
  .github/workflows/deploy.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:construction:Added workflow
  backend/src/main.go
Owners: @manolors

:construction:Added workflow
  backend/src/main.go
Owners: @manolors

🚧 Added docker ssh workflow
  .github/workflows/deploy.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Added docker ssh workflow
  .github/workflows/deploy.yml
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Added docker ssh workflow
  .github/workflows/deploy.yml
  run.sh
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Added docker ssh workflow
  .github/workflows/deploy.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Added docker ssh workflow
  .github/workflows/deploy.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Added docker ssh workflow
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Added docker ssh workflow
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Added docker ssh workflow
  .github/workflows/deploy.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:construction:Fixed workflow
  .github/workflows/deploy.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:construction:Workflow running
  .github/workflows/deploy.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Added docker ssh workflow
  .github/workflows/deploy.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

📝 Added new endpoints and tables
  README.md
  bbdd.PNG
  docs/images/bbdd.PNG
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

📝 Added new endpoints and tables
  docs/images/bbdd.PNG
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

📝 Update bbdd README.md
  docs/images/bbdd.PNG
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Building CI
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Building CI
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Building CI
  README.md
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Building CI
  .github/workflows/CD.yml
  .github/workflows/CI.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Building CD
  README.md
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Building CD
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🎨 💩 🏗 Creating go structure
  backend/api/controllers/company.go
  backend/api/controllers/employee.go
  backend/api/infrastructure/usersrepository.go
  backend/api/models/usersservices.go
  backend/src/main.go
Owners: @manolors

:building_construction: Changed project structure
  backend/api/models/usersservices.go
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/src/desarrollo.png
Owners: @manolors, @AiranSchez, @arianezf, @jaimerperez, @Pandacore

.github/CODEOWNERS:

* @AiranSchez @arianezf @jaimerperez @Pandacore
*.ts @raulanatol
*.js @raulanatol
*test* @raulanatol @DanielRamosAcosta @yodralopez
*.go @manolors
