Repository fullstacktf/ControlHorarios-Backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @raulanatol, @DanielRamosAcosta, @yodralopez, @manolors

:construction: Test CD go dependencies
  .github/workflows/CD.yml
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:construction: Test CD go dependencies
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:construction: Test CD go dependencies
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:construction: Test CD go dependencies
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🔥 Clean project
  .github/workflows/CD.yml
  database/script.sh
  docs/images/bbdd.PNG
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

CD execute on main branch
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Add volumes to dockercompose
  docker-compose.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🏗 Removed database dockerfile
  database/Dockerfile
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🏗 Removed env file
  backend/.env
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🏗 Added commands to stop containers and delete images in CD.yml
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Test CD workflow
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Test CD workflow
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Test CD workflow
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Branch changed to main
  .github/workflows/CD.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Refactor estructure
  .gitignore
  backend/api/.env
  backend/api/infrastructure/mysql.go
  backend/api/storage/mysql.go
  backend/main.go
  mysql_data/aria_log.00000001
  mysql_data/aria_log_control
  mysql_data/ib_buffer_pool
  mysql_data/multi-master.info
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @manolors

Removed folder mysql_data
  mysql_data/aria_log.00000001
  mysql_data/aria_log_control
  mysql_data/ib_buffer_pool
  mysql_data/multi-master.info
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:card_file_box:
  backend/api/infrastructure/mysql.go
  backend/go.sum
  backend/main.go
Owners: @manolors, @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:card_file_box: :adhesive_bandage: Minor changes on models
  backend/api/models/users.go
  backend/main.go
Owners: @manolors

:card_file_box: Connecting backwith database
  backend/api/.env
  backend/api/config/config.go
  backend/api/constants/constants.go
  backend/main.go
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @manolors

:sparkles: Creating CRUD: READ
  backend/api/controllers/users.go
  backend/api/infrastructure/usersrepository.go
  backend/api/models/users.go
  backend/api/models/usersservices.go
  backend/api/routes/routes.go
  backend/go.mod
  backend/go.sum
Owners: @manolors, @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:sparkles: Creating CRUD: CREATE
  backend/api/controllers/users.go
  backend/api/models/users.go
  backend/api/routes/routes.go
  docker-compose.yml
Owners: @manolors, @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:sparkles: Creating CRUD: UPDATE and DELETE
  backend/api/controllers/users.go
  backend/api/models/users.go
  backend/api/routes/routes.go
Owners: @manolors

:zap: Improve CRUD: UPDATE
  backend/api/controllers/users.go
  backend/api/models/users.go
Owners: @manolors

:zap: Created Models and make a right connection with the database
  backend/api/infrastructure/mysql.go
  backend/api/models/company.go
  backend/api/models/employee.go
  backend/api/models/holidays.go
  backend/api/models/projects.go
  backend/api/models/records.go
  backend/api/models/sections.go
  backend/api/models/users.go
  backend/main.go
Owners: @manolors

:truck: Fixed packages routes
  backend/api/controllers/users.go
  backend/api/models/users.go
  backend/api/routes/routes.go
  backend/go.mod
  backend/main.go
  database/ControlHorarios.sql
Owners: @manolors, @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:truck: Fixed packages routes
  .github/workflows/CI.yml
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:recycle: Refactored routes
  backend/api/routes/routes.go
Owners: @manolors

:recycle: Refactored routes
  backend/api/routes/routes.go
Owners: @manolors

:boom: Create Company doesn't work
  .github/workflows/CI.yml
  backend/api/controllers/company.go
  backend/api/controllers/users.go
  backend/api/models/company.go
  backend/api/models/users.go
  backend/api/routes/routes.go
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @manolors

:boom: refactoring models 2.0
  backend/api/controllers/users.go
  backend/api/domain/userServices.go
  backend/api/models/users.go
Owners: @manolors

:boom: Refactoring
  backend/api/controllers/company.go
  backend/api/controllers/users.go
  backend/api/models/company.go
  backend/api/models/users.go
  backend/go.mod
  backend/go.sum
Owners: @manolors, @AiranSchez, @arianezf, @jaimerperez, @Pandacore

:boom: Refactoring Company and User
  backend/api/controllers/company.go
  backend/api/controllers/companyController.go
  backend/api/controllers/employeeController.go
  backend/api/controllers/usersController.go
  backend/api/domain/companyServices.go
  backend/api/domain/userServices.go
  backend/api/models/company.go
  backend/api/models/users.go
  backend/api/routes/routes.go
Owners: @manolors

:zap: Create a company
  backend/api/controllers/companyController.go
  backend/api/domain/companyServices.go
  backend/api/domain/userServices.go
  backend/api/models/company.go
  backend/api/routes/routes.go
Owners: @manolors

:sparkles: Feature create employee
  backend/api/controllers/companyController.go
  backend/api/controllers/employeeController.go
  backend/api/domain/companyServices.go
  backend/api/domain/employeeServices.go
  backend/api/domain/userServices.go
  backend/api/models/company.go
  backend/api/models/employee.go
  backend/api/routes/routes.go
Owners: @manolors

:sparkles: Feature added test suite
  backend/go.mod
  backend/tests/company_test.go
Owners: @AiranSchez, @arianezf, @jaimerperez, @Pandacore, @manolors

:bulb: Added comments for homework
  backend/api/routes/routes.go
Owners: @manolors

🚧 Added create project endpoint + tests
  backend/api/controllers/companyController.go
  backend/api/controllers/dto/projectDto.go
  backend/api/controllers/usersController.go
  backend/api/domain/companyServices.go
  backend/api/domain/userServices.go
  backend/api/infrastructure/companyRepository.go
  backend/api/models/projects.go
  backend/api/models/users.go
  backend/api/routes/routes.go
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/tests/company_test.go
Owners: @manolors, @AiranSchez, @arianezf, @jaimerperez, @Pandacore

🚧 Moved Db initialization to mysql.go
  backend/api/domain/companyServices.go
  backend/api/domain/employeeServices.go
  backend/api/domain/userServices.go
  backend/api/infrastructure/companyRepository.go
  backend/api/infrastructure/mysql.go
  backend/main.go
  backend/tests/company_test.go
Owners: @manolors

🚧 Added singleton pattern to database connection
  backend/api/infrastructure/mysql.go
Owners: @manolors

🚧 Changed endpoint createEmployee because uri conflicts
  backend/api/controllers/companyController.go
  backend/api/controllers/dto/employeeLoginDto.go
  backend/api/controllers/employeeController.go
  backend/api/infrastructure/mysql.go
  backend/api/routes/routes.go
Owners: @manolors

.github/CODEOWNERS:

* @AiranSchez @arianezf @jaimerperez @Pandacore
*.ts @raulanatol
*.js @raulanatol
*test* @raulanatol @DanielRamosAcosta @yodralopez
*.go @manolors
